will expect to finish this by 3 days 

Extra addition 

- [x]  added check for  `%x20-21 / %x23-5B / %x5D-7E` i.e Printable ASCII excluding double-quote and backslash

the above was not mention o strict in the [spec 11.1](
https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#name-notification-endpoint) but was reference in the [RFC 6750 §3: https://www.rfc-editor.org/rfc/rfc6750#section-3](https://www.rfc-editor.org/rfc/rfc6750#section-3) and also related to 
[OpenID4VCI §8.3.1.2]: https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#name-credential-request-errors
